@inject IServicioUsuario ServicioUsuario
@inject IServicioPortapapeles ServicioPortapapeles

@if (correos != null && correos.Any() && usuario != null)
{
    <MudDialog>
        <TitleContent>
            <MudText Typo="Typo.h5" Align="Align.Center">Correos</MudText>
            <MudText Typo="Typo.h6" Align="Align.Center">@usuario</MudText>
        </TitleContent>
        <DialogContent>
            <MudContainer MaxWidth="MaxWidth.Small">
                <MudGrid Justify="Justify.Center">
                    <MudTable Class="@($"cursor-pointer")" Items="correos" Hover="true" Dense="true" Striped="true" Bordered="false" Square="true" Elevation="0" Breakpoint="Breakpoint.Md" SortLabel="Sort By">
                        <HeaderContent>
                            <MudTh><MudTableSortLabel SortBy="new Func<Usuario_Correos, object>(x=>x.NumeroCorreo)">Número</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<Usuario_Correos, object>(x=>x.Correo)">Correo</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<Usuario_Correos, object>(x=>x.Contraseña)">Contraseña</MudTableSortLabel></MudTh>
                            <MudTh></MudTh>
                        </HeaderContent>
                        <RowTemplate Context="emailContext">
                            <MudTd DataLabel="NumeroCorreo">@emailContext.NumeroCorreo</MudTd>
                            <MudTd DataLabel="Correo">@emailContext.Correo</MudTd>
                            <MudTd DataLabel="Correo">@emailContext.Contraseña</MudTd>
                            <MudTd DataLabel="">
                                <MudTooltip Text="Copiar correo al portapapeles" Color="Color.Primary" Duration="700">
                                    <MudFab OnClick="(() => CopiarAlPortapapeles(emailContext.Correo))" Color="Color.Default" Icon="@Icons.Filled.ContentCopy" Size="Size.Small" IconSize="Size.Small"></MudFab>
                                </MudTooltip>
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudGrid>
                <MudGrid><MudItem xs="12" /><MudItem xs="12" /></MudGrid>
            </MudContainer>
        </DialogContent>
    </MudDialog>
}
else
{
    <div class="center">
        <img src="/images/cargando.gif" width="175" height="150" />
    </div>
}

@code {
    public IEnumerable<Usuario_Correos> correos;

    [Parameter]
    public int idUsuarioSeleccionado { get; set; }

    [Parameter]
    public string usuario { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            correos = await ServicioUsuario.ObtenerCorreosPorUsuario(idUsuarioSeleccionado);
        }
        catch (Exception e)
        {

            Console.WriteLine("Error encontrado: " + e.Message);
        }
    }

    private async Task CopiarAlPortapapeles(string texto)
    {
        await ServicioPortapapeles.CopyToClipboard(texto);
    }
}
